body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1440px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn_black {
  padding: 10px;
  background-color: #323334;
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;

}

.btn_transparent {
  padding: 10px;
  background-color: rgba(0,0, 0, 0);
  cursor: pointer;
  font-weight: 700;
  color: #323334;

}

.p-trans {
  color:rgba(255,255,255,0.5)
}
.p-up-small {
  font-size: 16px;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

.p-up-big {
  font-size: 28px;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: #323334;
}
.p-up-wbig {
  font-size: 28px;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: #fff;
}

.p-cap-small-white *{
  text-decoration: none;
    list-style: none;
    color: #fff;
}

.p-cap-smid {
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  color: #323334;
}

.p-cap-lmid {
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  color: #323334;

}

.p-up-vsml-trans {
  font-size: 12px;
  font-weight: 700;
  color: rgba(0,0,0,0.5);
  text-transform: uppercase;
}

body * {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}